@inherits LayoutComponentBase
@using Models2
@using DBL2
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject IJSRuntime js

<HeadContent>
    <title>SportSync</title>
    <link rel="icon" href="/download.png">
    <link rel="apple-touch-icon" href="/download.png" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</HeadContent>
<style>
        h1, h2, h3, h4, h5, h6 {
            font-family: "Oswald"
        }

        .body {
            font-family: Arial, sans-serif;
            margin: auto;
            padding: 0;
            background-color: #f0f0f0;
            text-align: center;
        }

        .center {
            margin: 0;
            position: absolute;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .button {
            background-color: royalblue;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            font-size: 16px;
            margin: 4px 2px;
            opacity: 0.6;
            transition: 0.3s;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
        }

            .button:hover {
                opacity: 1
            }


        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            text-align: center;
        }

        header {
            text-align: center;
            padding: 20px 0;
            color: #fff;
        }

        nav {
            text-align: center;
            margin-top: 20px;
            color: lightgrey;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

                nav ul li {
                    display: inline;
                    margin-right: 20px;
                }

                    nav ul li a {
                        color: #333;
                        text-decoration: none;
                    }

                        nav ul li a:hover {
                            color: #ff4500;
                        }

        footer {
            text-align: center;
            padding: 20px 0;
            background-color: black;
            color: #fff;
            margin-top: 20px;
        }
    </style>


<div class="w3-bar w3-black w3-hide-small">
    <a href="" class="w3-bar-item w3-button">Home</a>
    <a href="/r" class="w3-bar-item w3-button">Sign Up</a>
    <a href="login" class="w3-bar-item w3-button">Log In</a>
    <a href="#" class="w3-bar-item w3-button">Weekly Contest</a>
    <a href="p" class="w3-bar-item w3-button">My Profile</a>
    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search">SearchExercises</i></a>
    <a href="searchG" class="w3-bar-item w3-button w3-right"><i class="fa fa-search">SearchGroups</i></a>


</div>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
