@page "/Lg"
@using Microsoft.Maui.Storage
@using Models2
@using DBL2
@using System.Text.Json
@using System.Text;
@inject NavigationManager navigateMg

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>

    body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .wrapper {
    text-align: center;
    font-size: 30px;
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

</style>

<body>
    <div class="wrapper">
        <h1>SportSync Log-In</h1>

        <div class="card-body">
            <div class="form-group mt-2">
                <label>Email</label>
                <input type="text" class="form-control" @bind-value="UserEmail" />
            </div>
            <div class="form-group mt-2">
                <label>Password</label>
                <input type="password" class="form-control" @bind-value="UserPassword" />
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" @onclick="HandleLogin">Login</button>
        </div>
    </div>
</body>


@code {
    private string UserEmail = "";
    private string UserPassword = "";
    string ResultStr = "";

    private async Task HandleLogin()
    {
        TrainerNew tt = new TrainerNew();
        tt.email = UserEmail;
        tt.pass = UserPassword;
        HttpClient httpClient = new HttpClient();
        Trainer trainer = new Trainer();
        var xx = await httpClient.PostAsJsonAsync<TrainerNew>(dataConstLink.Api.loginurl, tt);
        //t = await xx.Content.ReadFromJsonAsync<Trainer>();
        if (tt != null)
        {
            if (tt.email.Contains("@gmail"))
            {
                trainer = await xx.Content.ReadFromJsonAsync<Trainer>();
                string jsonOSL = JsonSerializer.Serialize(trainer);
                try
                {
                    await SecureStorage.Default.SetAsync("trn", jsonOSL);
                }
                catch (Exception storageEx)
                {
                    await Application.Current.MainPage.DisplayAlert("Storage Error", storageEx.Message, "OK");
                    return;
                }
                navigateMg.NavigateTo("/", replace: true);
                return;
            }
            else 
            {
                Exception storageEx = new Exception();
                await Application.Current.MainPage.DisplayAlert("Storage Error", storageEx.Message, "OK");
                return;
            }
        }
    }
}
