@page "/"
@using Models2;
@using DBL2;
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<HeadContent>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SportSync</title>
    <link rel="icon" href="/download.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="homepage/css/bootstrap.css">

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="homepage/css/style.css" rel="stylesheet">
    <!-- responsive style -->
    <link href="homepage/css/responsive.css" rel="stylesheet">
</HeadContent>


<div>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
                        <span>
                            SportSync
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                
                                    @if (UserS == null && coach == null)
                                    {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/r">Sign Up</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">Log In</a>
                                    </li>
                                    }

                                <li class="nav-item">
                                    <a class="nav-link" href="/p">Your Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/searchG">Search Groups</a>
                                </li>
                               
                                
                            </ul>
                            <div class="user_option">
                                <div class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class=" slider_section position-relative" style="background-color:#FFBF00">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="col-lg-10 col-md-11 mx-auto">
                                <div class="detail-box">
                                    <div >
                                        <h3>
                                            Fitness
                                        </h3>
                                        <h2>
                                            Training
                                        </h2>
                                        <h1>
                                            SportSync
                                        </h1>
                                        <p>
                                            Your site focuses on developing a scheduling and workout management system designed for both amateur and professional athletes. The system aims to streamline users' workout routines by offering tools that allow the creation of personalized schedules tailored to their fitness level, type of sport, and individual needs.
                                        </p>
                                        @if (UserS == null && coach != null && coach.groupname == "" || coach != null && coach.groupname == null || coach != null && group.coachid != coach.id)
                                        {
                                            <a href="sag" class="button">Sign A Group</a>
                                        }
                                        else if (coach != null && coach.groupname != "" && coach.groupname != null)
                                        {
                                            <a href="ShowG/@(coach.groupname)" class="button">Show Group Info</a>
                                        }
                                        @if(UserS !=null)
                                        {
                                            <a href="BW" class="button">Bulid a WorkOut</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>


    <!-- Us section -->
    <!-- end us section -->
    <!-- heathy section -->

    <section class="heathy_section layout_padding">
        <div class="container">

            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="detail-box">
                        <h2>
                            HEALTHY MIND, HEALTHY BODY
                        </h2>
                        <p>
                            In today's world, fitness and sports have become an integral part of many people's lives, whether they are amateur athletes looking to maintain physical fitness or professional athletes striving for excellence in their sport. With the increasing awareness of the importance of fitness, effectively managing workout routines has become a more challenging task, requiring precise planning, performance tracking, and personalized adaptation for each athlete. There are several key reasons for the need for the site.
                        </p>
                        <div class="btn-box">
                            <a href="">
                                READ MORE
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- end heathy section -->
    <!-- trainer section -->

    <section class="trainer_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Gym Trainers
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="box">
                        <div class="name">
                            <h5>
                                Yair BuchBut
                            </h5>
                        </div>
                        <div class="img-box">
                            <img src="homepage/images/Yair.jpg" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="box">
                        <div class="name">
                            <h5>
                               Jonathan Levi
                            </h5>
                        </div>
                        <div class="img-box">
                            <img src="homepage/images/joni.png"alt="">
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="box">
                        <div class="name">
                            <h5>
                                Marom VineBloom
                            </h5>
                        </div>
                        <div class="img-box">                   
                            <img src=" homepage/images/Marom.jpg"  alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end trainer section -->
    <!-- contact section -->
    <!-- end info_section -->
    <!-- footer section -->
    <footer class="container-fluid footer_section">
        <p>
            © 2020 All Rights Reserved. Design by
            <a href="https://html.design/">Free Html Templates</a>
        </p>
    </footer>
    <!-- footer section -->

    <script src="homepage/js/jquery-3.4.1.min.js"></script>
    <script src="homepage/js/bootstrap.js"></script>



</div>
@* 
<!-- Navigation bar with social media icons -->
<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="banner" >
        <center class="content">
            <div >

                <h1> <b>SportSync</b></h1>
                <h6>The project involves developing a scheduling and training management system designed for both amateur and professional athletes. The system is intended to streamline the management of users' workout routines by offering a tool that allows the creation of personalized schedules, tailored to the fitness level, type of sport, and the athlete's specific requirements.</h6>

                @if (UserS == null && coach != null && coach.groupname == "" || coach != null && coach.groupname == null || coach != null && group.coachid != coach.id)
                {
                <a href="sag" class="button">Sign A Group</a>
                }
                else if (coach != null && coach.groupname != "" && coach.groupname != null)
                {
                <a href="ShowG/@(coach.groupname)" class="button">Show Group Info</a>
                }
            </div>
        </center>

</div>
 *@

@code {
    Trainer UserS = null;
    Coach coach = null;
    Group group = new Group();
    GroupDB groupDB = new GroupDB();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var user1 = await MySession.GetAsync<Trainer>("Trainer");
            if (user1.Success)
            {
                UserS = user1.Value;
                StateHasChanged();
            }
            var user2 = await MySession.GetAsync<Coach>("Coach");
            if (user2.Success)
            {
                coach = user2.Value;
                if (coach == null)
                {
                    group = null;
                }
                else
                {
                    group = await groupDB.SelectByPkAsync(coach.groupname);
                }
                StateHasChanged();
            }
            else
            {
                if (UserS == null && coach == null && group == null)
                {
                    navigationManager.NavigateTo("/");
                }
            }
        }

    }

}

