@page "/searchG"
@using Models2;
@using DBL2;
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession

@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<div class="container">
    <center class="content">
        <!-- Header -->
        <header>
            <h1 ><b>Search Groups</b></h1>
        </header>
        <input name="Sport" @bind-value="sport" placeholder="Search Group By Sport">
        <button @onclick="Search">Search Groups</button>

        @if (list == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <center>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Maximum Capacity</th>
                        <th>Sport</th>
                        <th> </th>
                        

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in list)
                    {
                        <tr>
                            <td><center><a href="ShowG/@(item.name)">@item.name</a></center></td>
                            <td><center>@item.maxcapacity</center></td>
                            <td><center>@item.sport</center></td>
                        </tr>
                    }

                </tbody>
            </table>
                </center>
        }
      
    </center>
</div>

@code {
    CoachDB coachDB = new CoachDB();
    List<Group> list;
    string sport = "";
    async Task Search()
    {
        GroupDB groupDB = new GroupDB();
         list = await groupDB.SelectBySportAsync(sport);
    }
}
